section {
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section .title {
    text-align:center;
    color: #00549F;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: -3% auto 1% auto;
}

section form {
    background-image: linear-gradient(to right, #92ccff, white, #92ccff);
    padding: 1%;
    padding-right: 3%;
    width:70vw;
    height: 70vh;
    text-align:center;
    border-radius: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -2%;
}

section form .body {
    display: flex;
    justify-content: space-between;
}

section form .body .card1 {
    display:flex;
    flex-direction:column;
}

section form .body .card1 div {
    margin:.9% auto;
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

section form .body .card1 div label {
    font-weight:bold;
}

section form .body .card1 div select {
    width:40%;
}

section form .body .card2 ul li {
    font-size:1.2rem;
    text-align: left;
    margin: 2% auto 2% 10%;
}

section form .button .btn{
    color: white;
    background-color: #00549F;
    border: none;
    border-radius: 50px;
    width: 10vw;
    margin-top: 2%;
    margin-left: 5%;
}

section .search {
    background-image: linear-gradient(to right, #92ccff, white, #92ccff);
    padding: 5%;
    width:50vw;
    height: 30vh;
    text-align:center;
    border-radius: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

section .search .main{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 10vh;
}

section .search .main label {
    font-weight:bold;
}

.h1 {
    text-align:center;
    color: #00549F;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: 3% auto -6% auto;
}

@media (max-width: 1500px) {
    section form .body .card1 div select {
        width:55%;
    }
}
  
@media (max-width: 1050px) {
    section {
        height: 70vh;
    }
    section form {
        width:90vw;
        height: 100%;
    }  
    section form .body .card1 div {
        width: 35vw;
    } 
    section form .button .btn{
        width: 30vw;
        margin-top: 5vh;
    }
    section .search {
        flex-direction: column;
    }
    
}
  
@media (max-width: 576px) {
    section {
        height: 100vh;
    }
    section form {
        width:90vw;
        height: 100vh;
    }  
    section form .body {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    section form .body .card1 div {
        width: 80vw;
        margin: .5% auto;
    }
    section form .body .card1 div select {
        width:45%;
    }    
    section form .button .btn{
        width: 30vw;
    }
    section form .body .card2 h4 {
        margin-top: 10%;
    }
    section form .body .card2 ol li {
        font-size:1rem;
        text-align: left;
    }
    section form .button .btn{
        width: 50vw;
        margin: 0 auto;
    }
    section .search {
        flex-direction: column;
        width:90%;
        height: 40%;
        margin-top: -50%;
    }
    section .search .main div{
        margin: 5px auto;
        display: flex;
        flex-direction: column;
    }
    
    section .search .main label {
        font-weight:bold;
    }
}