section {
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section .title {
    text-align:center;
    color: #00549F;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: -3% auto 1% auto;
}

section form {
    background-image: linear-gradient(to right, #92ccff, white, #92ccff);
    padding: 1%;
    padding-right: 3%;
    width:70vw;
    height: 70vh;
    text-align:center;
    border-radius: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -2%;
}

section form .body {
    display: flex;
    justify-content: space-between;
}

section form .body .card1 {
    display:flex;
    flex-direction:column;
}

section form .body .card1 div {
    margin:.9% auto;
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

section form .body .card1 div label {
    font-weight:bold;
}

section form .body .card1 div select {
    width:55%;
}

section form .body .card2 ol li {
    font-size:1.2rem;
    text-align: left;
    margin-left: 10%;
}

section form .button .btn{
    color: white;
    background-color: #00549F;
    border: none;
    border-radius: 50px;
    width: 10vw;
    margin-top: 2%;
    margin-left: 5%;
}


section .search {
    background-image: linear-gradient(to right, #92ccff, white, #92ccff);
    padding: 5%;
    width:50vw;
    height: 30vh;
    text-align:center;
    border-radius: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

section .search .main{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 10vh;
}

section .search .main label {
    font-weight:bold;
}

.h1 {
    text-align:center;
    color: #00549F;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: 3% auto -6% auto;
}